.dialogDiv
{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border-radius: 9px;
    border-left: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    box-shadow: 0px 4px 17px #888;
    border-right: 1px solid #AAA;
    z-index: 10;
}

.topDiv{
   position: absolute;
    height: 26px;
    top: 0px;
    left: 0px;
    width: 100%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-image: url(topDiv.png);
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

.middleDiv{
    position: absolute;
    top: 27px;
    bottom: 37px;
    background-color: #EDEDED;
    left: 0px;
    right: 0px;
}

.bottomDiv{
    position: absolute;
    height: 37px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #EDEDED;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.exitButton{
    float: right;
    height: 17px;
    margin-top: 5px;
    margin-right: 9px;
    background-image: url('dialogExit.png');
    width: 18px;
    border: 1px none;
}

.exitButton:active{
    background-image: url('dialogExitClicked.png');
}

.topDivSpan{
    float: left;
    margin-left: 8px;
    margin-top: 2px;
    color: #000;
    font-size: 110%;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.partialBorder{
    height: 2px;
    position: absolute;
}

.okButton{
    float: right;
    margin-top: 7px;
    margin-right: 14px;
    background-image: url("backgroundButton.png");
    border-radius: 11px;
    box-shadow: 0px 2px 3px #888;
    width: 60px;
    border: 1px;

}
.okButton:active {
    background-image: url('onClick.png');
}
.cancelButton{
    float: right;
    margin-top: 7px;
    margin-right: 4px;
    background-image: url("backgroundButton.png");
    border-radius: 11px;
    box-shadow: 0px 2px 3px #888;
    border: 1px;
}
.cancelButton:active {
    background-image: url('onClick.png');
}