.mainDiv{
    border: 1px solid;
    position: absolute;
    width: 250px;
    height: 200px;
}

.insideDiv{
    position: absolute;
    border: 1px solid;
    height: 85%;
    box-sizing: border-box;
    top: 25px;
    width: 96%;
    left: 5px;
    overflow: auto;
}

.textDiv{
    width: 100%;
    border: 1px solid;
    height: 25px;
    box-sizing: border-box;
    clear: left;
    float: left;
}

.input{
    width: 96%;
    box-sizing: border-box;
    left: 5px;
    position: absolute;
    top: 2px;
}
.selected{
    background-color: blue;
}