/*.mainDiv{*/
    /*border: 1px solid;*/
    /*position: absolute;*/
    /*width: 250px;*/
    /*height: 200px;*/
/*}*/

.insideDiv{
    position: absolute;
    /*height: 100%;*/
    box-sizing: border-box;
    top: 0px;
    width: 99%;
    left: 2px;
    overflow: auto;
}

.rowDiv{
    width: 100%;
    /*border-bottom: 1px solid;*/
    /*border-right: 1px solid;*/
    /*height: 25px;*/
    box-sizing: border-box;
    clear: left;
    float: left;
}

/*.input{*/
    /*width: 96%;*/
    /*box-sizing: border-box;*/
    /*left: 5px;*/
    /*position: absolute;*/
    /*top: 2px;*/
/*}*/
.selected{
    background-color: #BFDEFF;
}