.notesDialog-notesDialog{
    position: absolute;
    width: 274px;
    left: 12px;
    top: 3px;
    height: 241px;
}

.notesDialog-textAddEdit{
    left: 3px;
    top: 0px;
    position: absolute;
}

.notesDialog-inputBox{
    width: 194px;
    position: absolute;
    left: 2px;
    top: 22px;
    border-radius: 4px;
}

.notesDialog-addEditButton{
    left: 212px;
    top: 23px;
    position: absolute;
    width: 68px;
}

.notesDialog-listDivBox{
    position: absolute;
    width: 197px;
    left: 4px;
    top: 21px;
    height: 171px;
    overflow: auto;
    border-radius: 4px;
    background-color: #FFF;
    border: 2px inset #EEE;
}

.notesDialog-deleteButton {
    position: absolute;
    left: 212px;
    top: 83px;
    width: 68px;
}

.notesDialog-textCurrentNotes{
    left: 3px;
    top: 0px;
    position: absolute;
}

.notesDialog-bottomPart{
    float: left;
    clear: left;
    width: 100%;
    height: 196px;
    top: 43px;
    position: absolute;
}

.notesDialog-topPart{
    float: left;
    clear: left;
    width: 100%;
    height: 44px;
}