.sidebar-container{
    border: 1px solid;
    width: 220px;
    height: 100%;
    position: absolute;
    right: -220px;
    top: 0px;
    box-sizing: border-box;
    display: table;
    z-index:10;
    transition: right 0.5s linear;
    background-color: #52555A;


}
.dropDownBox{
    margin-left: 54px;
    margin-top: 9px;
    width: 109px;
    margin-bottom: 8px;
}

.spanThemes{
    text-align: center;
    font-size: 118%;
    padding-left: 76px;
    color: #ADAEAD;
}

.sidebar-image{
    width: 190px;
    margin: 4px 4px 4px 9px;
}

.sidebar-listplaceholder{
    position: relative;
    width: 96%;
    height: 97%;
    2px outset rgba(150, 150, 150, 0.89);
    left: 4px;
}

.sidebar-dropdownboxdiv{
display: table-row;
}

.sidebar-themestitlediv{
    display: table-row;
}

.sidebar-listdiv{
    display: table-row;
    height:100%;
}

.sidebar-chooseday{
    margin-bottom: 1px;
    margin-left: 40px;
    color: #ADAEAD;
}

.sidebar-lastdiv{
    display: table-row;
}

.sidebar-applybutton{
    width: 68px;
    margin-bottom: 8px;
    margin-left: 140px;
}