.backgroundDiv {
    background-image: url("otherImages/theme2background.png");
}

.smallDiv {
    width: 30px;
    background-image: url('otherImages/flower.png');
    margin-right: 0px;
    text-align: center;
    color: #FFF;
    font-size: 85%;
    padding-top: 3px;
    height: 25px;
}

.spanObject{
    margin-top: 23px;
}


.calendar-yearHeader{
    display: inline-block;
}
.calendar-monthHeader{
    display: inline-block;
}


.calendar-middleDiv{
    display: inline-block;
    min-height: 1px;
    width: 20px;
}


.calendar-flowerNumber{
    height:42px;
}

.calendar-monthNameImg{
    height:42px;
}

.calendar-divSurroundingYearMonth{
    padding-top: 5px;
    display: inline-block;
}

.leftButton{
    background-image: url("otherImages/side button left purple.png");
    position: absolute;

    top: 50%;
    height: 80px;
    margin-top: -40px;
    z-index: 21;
    width: 39px;
    -webkit-transition: left 0.5s linear;
    transition: left 0.5s linear;
}
.rightButton{
    background-image: url("otherImages/side button right purple.png");
    position: absolute;

    top: 50%;
    height: 80px;
    width: 39px;
    margin-top: -40px;
    z-index: 21;
    -webkit-transition: right 0.5s linear;
    transition: right 0.5s linear;
}

::-webkit-scrollbar
{
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(183, 108, 173, 1);
    border-radius: 11px;
}