.backgroundDiv {
    background-image: url("otherImages/background.png");
}

.smallDiv {
    width: 22px;
    margin-right: 3px;
}

.spanObject {
    margin-top: 19px;
}

.calender-yearHeader{
    display: inline-block;
    font-size: 220%;
    text-shadow: 1px 1px #FFF;
}
.calender-monthHeader{
    display: inline-block;
    font-size: 220%;
    text-shadow: 1px 1px #FFF;
}
.calender-middleDiv{
    display: inline-block;
    min-height: 1px;
    width: 5px;
}

.leftButton{
    background-image: url("otherImages/side button left blue.png");
    position: absolute;

    top: 50%;
    height: 80px;
    margin-top: -40px;
    z-index: 21;
    width: 39px;
    -webkit-transition: left 0.5s linear;
    transition: left 0.5s linear;
}
.rightButton{
    background-image: url("otherImages/side button right blue.png");
    position: absolute;

    top: 50%;
    height: 80px;
    width: 39px;
    margin-top: -40px;
    z-index: 21;
    -webkit-transition: right 0.5s linear;
    transition: right 0.5s linear;
}
.calender-divSurroundingYearMonth{
    padding-top: 5px;
    display: inline-block;
}

::-webkit-scrollbar
{
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(7, 143, 210, 1);
    border-radius: 11px;
}